
.text {
    -fx-font-smoothing-type: gray;
}

.border-pane {
    -fx-background-color: derive(lightgray, 20%);
}

.painel {
    -fx-border-color: #a8a8a8;
    -fx-border-width: 1;
    -fx-background-color: #F2F2F2;
}

.h1 {
    -fx-font-size: 28;
}

.btn-primary {
    -fx-background-color: transparent, linear-gradient(#4081DD, #3668c1);
    -fx-background-radius: 3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: #5D99DA;
    -fx-border-width: 1;
    -fx-border-radius: 3;
}

.btn-primary:hover {
    -fx-background-color: transparent, linear-gradient(#418be8, #3672cb);
}

.field-erro {
    -fx-border-radius: 3;
    -fx-border-color: derive(red, 50%);
    -fx-focus-color: red;
}

